.langing-masonry {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    gap: 10px;
    width: 100%;
  }
  .langing-masonry-column {
    background-clip: padding-box;
  }
  
  /* Style your items */
  .langing-masonry-column > div { /* change div to reference your elements you put in <Masonry> */
    width: 100%;
  }